<nav class="navbarre">
    <a href="{{ path("page_accueil") }}">
        <img class="h_edf_logo" src="{{ asset('images/EDF-logo.png') }}" alt="EDF-logo">
    </a>

    <a class="h_edf_title" href="{{ path("page_accueil") }}">
        DOCADIFF
    </a>
    <a href="{{ path("page_accueil") }}">
        <img class="h_edfsa_logo" src="{{ asset('images/sites/logo-sal.png') }}" alt="cnpe-logo">
    </a>

</nav>